.notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.notification {
  background-color: #ff5e5e;
  border: 1px solid #ccc;
  color: white;
  padding: 16px;
}
